/*..............Declare variable in sass ...............*/

$mainColor: whitesmoke;
$secondColor: black;
$hoverColor: green;
$fontColor: white;

/*.............end.......................*/

nav {
    background-color: $secondColor;
    display: flex;
    justify-content: space-evenly;
    @media(max-width: 500px){
        flex-direction: column;
    }

}

a {
    color: $fontColor;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    text-decoration: none;
    @media(max-width: 500px){
        border-bottom: 2px solid white;
    }

}

a:hover{
    background-color:$hoverColor;
}

body{
    background-color: $mainColor;
    font-size: 62.5%;
   
}

#main{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    @media(max-width: 500px){
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

}

aside {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
    width: 100%;
}


section{
    text-align: justify;
    width: 70%;
    padding-top: 1%;
    font-size: 500%;
    text-align: center;
    
    
}

p{
    font-size: 50%;
}


a.link{
    display: inline;
    color: green;
    font-size: 100%;
    background-color: $mainColor;
}

